.loaderloader {
  border: 4px solid #ff6e078c;
  border-radius: 50%;
  border-top: 4px solid #002c32;
  width: 25px;
  height: 25px;
    -webkit-animation: spin 5s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }